In [1]:
import argparse
import pandas as pd
import numpy as np
import os 

from matplotlib import pyplot as plt

In [3]:
input_path = "./out/models_experimet_results.csv"
df = pd.read_csv(input_path)
df

,Unnamed: 0,ins,rep,model,fun,success,nit,nfev,Ta,Tb,Tc,Td
0,0,2023_02_09-00_13_00,0,A1,0.000271,True,128,19350,15.989357,0.911450,6.289556,NaN
1,1,2023_02_13-14_08_10,0,A1,15.997274,True,9,1500,767.054230,794.561305,63.324752,NaN
2,2,2023_01_06-08_45_00,0,A1,0.004543,True,116,17550,703.244025,2.923320,49.061895,NaN
3,3,2023_01_05-00_21_20,0,A1,0.002259,True,66,10050,4.340125,979.769176,163.122672,NaN
4,4,2023_01_13-14_04_00,0,A1,0.011018,True,34,5250,4.184630,289.660305,387.773980,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1007,1007,2023_01_04-00_16_30,10,B2,0.001283,True,108,16350,NaN,18.279171,28.955949,8.491825
1008,1008,2023_01_24-09_44_02,10,B2,0.001412,True,40,6150,NaN,299.196081,171.684688,632.970233
1009,1009,2023_01_17-01_31_40,10,B2,0.002160,True,52,7950,NaN,169.630392,59.190767,25.112541
1010,1010,2023_02_07-04_56_30,10,B2,0.014053,True,59,9000,NaN,896.476406,455.971885,87.904827
1011,1011,2023_01_25-02_07_20,10,B2,0.001997,True,92,13950,NaN,3.364667,3.787635,0.202163

In [12]:
## Fallos de convergencia

df.loc[df.success == False]

,Unnamed: 0,ins,rep,model,fun,success,nit,nfev,Ta,Tb,Tc,Td
258,258,2023_02_12-10_41_30,0,A2,0.178241,False,1000,180180,1.603425,24.658374,580.128770,848.533384
281,281,2023_02_12-10_41_30,1,A2,0.216925,False,1000,180180,1.596858,0.001301,527.739870,407.662038
442,442,2023_02_12-10_41_30,8,A2,0.205022,False,1000,180180,1.320027,23.134185,477.578057,806.389378
511,511,2023_02_12-10_41_30,0,B1,NaN,False,1000,120120,NaN,31.510951,298.371719,NaN
534,534,2023_02_12-10_41_30,1,B1,NaN,False,1000,120120,NaN,0.518285,961.709328,NaN
557,557,2023_02_12-10_41_30,2,B1,NaN,False,1000,120120,NaN,401.047472,946.784143,NaN
580,580,2023_02_12-10_41_30,3,B1,NaN,False,1000,120120,NaN,63.677982,664.295609,NaN
603,603,2023_02_12-10_41_30,4,B1,NaN,False,1000,120120,NaN,0.743641,421.766185,NaN
626,626,2023_02_12-10_41_30,5,B1,NaN,False,1000,120120,NaN,339.304947,503.661983,NaN
649,649,2023_02_12-10_41_30,6,B1,NaN,False,1000,120120,NaN,153.104859,738.631479,NaN
672,672,2023_02_12-10_41_30,7,B1,NaN,False,1000,120120,NaN,94.931913,738.750940,NaN
695,695,2023_02_12-10_41_30,8,B1,NaN,False,1000,120120,NaN,40.896956,517.690864,NaN
718,718,2023_02_12-10_41_30,9,B1,NaN,False,1000,120120,NaN,9.825676,104.223529,NaN
741,741,2023_02_12-10_41_30,10,B1,NaN,False,1000,120120,NaN,173.340462,636.866943,NaN
810,810,2023_02_12-10_41_30,2,B2,NaN,False,1000,150150,NaN,5.047605,224.789120,714.279654
833,833,2023_02_12-10_41_30,3,B2,NaN,False,1000,150150,NaN,62.817597,249.923009,996.442147
971,971,2023_02_12-10_41_30,9,B2,NaN,False,1000,150150,NaN,16.695951,538.636120,840.551725
994,994,2023_02_12-10_41_30,10,B2,NaN,False,1000,150150,NaN,0.487631,33.134237,343.352470

In [54]:
## caso mas malo! INICIO UNO ANTES
df.loc[df.ins == '2023_02_12-10_41_30']

## Segundo caso malo! INICIO UNO DESPUES
df.loc[df.ins == '2023_02_13-14_08_10']

df_clean = df.loc[~df.ins.isin(['2023_02_13-14_08_10','2023_02_12-10_41_30'])]

df_clean.groupby(['model','ins']).fun.mean().to_string()

model  ins
A1     2023_01_04-00_16_30    0.001573
       2023_01_05-00_21_20    0.002225
       2023_01_06-08_45_00    0.004534
       2023_01_08-11_00_30    0.010750
       2023_01_09-04_03_00    1.071656
       2023_01_13-14_04_00    0.010988
       2023_01_17-01_31_40    0.002626
       2023_01_20-13_12_00    0.019852
       2023_01_24-09_44_02    0.001454
       2023_01_25-02_07_20    0.001413
       2023_01_26-00_09_10    0.007064
       2023_02_01-21_45_40    0.001312
       2023_02_05-22_20_50    0.001178
       2023_02_07-04_56_30    0.003117
       2023_02_09-00_13_00    0.001509
       2023_02_09-23_59_00    0.011144
       2023_02_13-22_37_00    0.010721
       2023_02_17-03_54_00    0.002641
       2023_02_17-21_35_00    0.004799
       2023_02_18-16_43_50    0.007134
       2023_02_24-11_33_50    0.002089
A2     2023_01_04-00_16_30    0.001334
       2023_01_05-00_21_20    0.000815
       2023_01_06-08_45_00    0.002774
       2023_01_08-11_00_30    0.008976
       2023_01_09-04_03_00    0.001930
       2023_01_13-14_04_00    0.004367
       2023_01_17-01_31_40    0.002327
       2023_01_20-13_12_00    0.006389
       2023_01_24-09_44_02    0.001454
       2023_01_25-02_07_20    0.001109
       2023_01_26-00_09_10    0.005709
       2023_02_01-21_45_40    0.001207
       2023_02_05-22_20_50    0.002618
       2023_02_07-04_56_30    0.002851
       2023_02_09-00_13_00    0.000813
       2023_02_09-23_59_00    0.010146
       2023_02_13-22_37_00    0.012878
       2023_02_17-03_54_00    0.002737
       2023_02_17-21_35_00    0.003082
       2023_02_18-16_43_50    0.005882
       2023_02_24-11_33_50    0.001253
B1     2023_01_04-00_16_30    0.002165
       2023_01_05-00_21_20    0.001690
       2023_01_06-08_45_00    0.004848
       2023_01_08-11_00_30    0.012091
       2023_01_09-04_03_00    0.055375
       2023_01_13-14_04_00    0.009029
       2023_01_17-01_31_40    0.004136
       2023_01_20-13_12_00    0.010107
       2023_01_24-09_44_02    0.004453
       2023_01_25-02_07_20    0.011321
       2023_01_26-00_09_10    0.007133
       2023_02_01-21_45_40    0.001364
       2023_02_05-22_20_50    0.003063
       2023_02_07-04_56_30    0.002858
       2023_02_09-00_13_00    0.000377
       2023_02_09-23_59_00    0.014965
       2023_02_13-22_37_00    0.013924
       2023_02_17-03_54_00    0.002604
       2023_02_17-21_35_00    0.004790
       2023_02_18-16_43_50    0.021983
       2023_02_24-11_33_50    0.005981
B2     2023_01_04-00_16_30    0.001283
       2023_01_05-00_21_20    0.001585
       2023_01_06-08_45_00    0.003803
       2023_01_08-11_00_30    0.011280
       2023_01_09-04_03_00    0.001784
       2023_01_13-14_04_00    0.007494
       2023_01_17-01_31_40    0.002160
       2023_01_20-13_12_00    0.009216
       2023_01_24-09_44_02    0.001420
       2023_01_25-02_07_20    0.001997
       2023_01_26-00_09_10    0.005736
       2023_02_01-21_45_40    0.001326
       2023_02_05-22_20_50    0.000865
       2023_02_07-04_56_30    0.014034
       2023_02_09-00_13_00    0.000272
       2023_02_09-23_59_00    0.010535
       2023_02_13-22_37_00    0.010203
       2023_02_17-03_54_00    0.002625
       2023_02_17-21_35_00    0.003095
       2023_02_18-16_43_50    0.009662
       2023_02_24-11_33_50    0.004321